.news-home {
    display: flex;
    position: relative;

    &__item {
        width: 33%;
        margin-bottom: $size * 3;
        padding: $size * 2;

        &-first {
            width: 100%;
        }
    }

    &__link {
        display: inline-block;

        &--disable {
            opacity: 0.5;
        }
    }
}
