$font-path:  '../fonts/FontName/';

// Regular 400
@font-face {
    font-display: swap;
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    src: url( $font-path + 'Font-Regular.woff2') format('woff2');
}

// Regular Italic 400
@font-face {
    font-display: swap;
    font-family: $font-family;
    font-style: italic;
    font-weight: 400;
    src: url( $font-path + 'Font-Italic.woff2') format('woff2');
}

// Bold 700
@font-face {
    font-display: swap;
    font-family: $font-family;
    font-style: normal;
    font-weight: 700;
    src: url( $font-path + 'Font-Bold.woff2') format('woff2');
}

// Bold Italic 700
@font-face {
    font-display: swap;
    font-family: $font-family;
    font-style: italic;
    font-weight: 700;
    src: url( $font-path + 'Font-BoldItalic.woff2') format('woff2');
}
