@use "../mixins";

h1 {
    @include mixins.font-style($size * 6, $size * 7, 700);

    margin: $size * 4 0 $size;
}

h2 {
    @include mixins.font-style($size * 5, $size * 6, 700);

    margin: $size * 4 0 $size;
}

h3 {
    @include mixins.font-style($size * 4, $size * 5, 700);

    margin: $size * 3 0 $size;
}

h4 {
    @include mixins.font-style($size * 3 + 1px, $size * 4, 700);

    margin: $size * 3 0 $size;
}

h5 {
    @include mixins.font-style($size * 2 + 4px, $size * 4, 400);

    margin: $size * 2 0 $size;
}

h6 {
    @include mixins.font-style($size * 2, $size * 3, 400);

    margin: $size * 2 0 $size;
}

p {
    @include mixins.font-style($size * 2, $size * 3, 400);

    margin: 0 0 $size * 2;
}
