*:focus:not(:focus-visible) {
    outline: none;
}

*:focus-visible {
    outline: 2px solid #4A90E2;
    outline-offset: 2px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

input[placeholder] {
    text-overflow: ellipsis;
}

input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder {
    text-overflow: ellipsis;
}

:focus::-webkit-input-placeholder,
:focus::-moz-placeholder,
:focus:-moz-placeholder,
:focus:-ms-input-placeholder {
    color: transparent;
}

label {
    cursor: pointer;
    user-select: none;
}

textarea {
    resize: vertical;
}

input:focus,
textarea:focus {
    outline: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: inherit !important;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: 0 0 0 1000px transparent inset;
}
