.hide-on-mobile {
    display: none;

    @include bp768 {
        display: block;
    }
}

.hide-on-tablet {
    display: none;

    @include bp1280 {
        display: block;
    }
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}
