@use "../vars";

html {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    color: vars.$color-text;
    font-family: vars.$font-family;
    font-size: vars.$size * 2;
    line-height: 1.5;
}
