@use "vars";

// Breakpoints
$breakpoints: (
  "mobile-sm": vars.$mobile-sm,
  "mobile": vars.$mobile,
  "tablet": vars.$tablet,
  "tablet-lg": vars.$tablet-lg,
  "laptop-sm": vars.$laptop-sm,
  "laptop": vars.$laptop,
  "desktop": vars.$desktop,
  "desktop-lg": vars.$desktop-lg,
  "desktop-xl": vars.$desktop-xl
);

@mixin respond-min($name) {
  @if map-has-key($breakpoints, $name) {
    @media screen and (min-width: map-get($breakpoints, $name)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, `#{$name}` is not a valid breakpoint name.";
  }
}

// Fonts style
@mixin font-style($fontSize, $lh, $weight) {
  font-size: $fontSize;
  font-weight: $weight;
  line-height: $lh;
}

// Centring
@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Visually hidden text
@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
