@use "vars";

// Breakpoints
@mixin bp480 {
  @media screen and (min-width: vars.$mobile-sm) {
    @content;
  }
}

@mixin bp576 {
  @media screen and (min-width: vars.$mobile) {
    @content;
  }
}

@mixin bp768 {
  @media screen and (min-width: vars.$tablet) {
    @content;
  }
}

@mixin bp1024 {
  @media screen and (min-width: vars.$tablet-lg) {
    @content;
  }
}

@mixin bp1280 {
  @media screen and (min-width: vars.$laptop-sm) {
    @content;
  }
}

@mixin bp1366 {
  @media screen and (min-width: vars.$laptop) {
    @content;
  }
}

@mixin bp1440 {
  @media screen and (min-width: vars.$desktop) {
    @content;
  }
}

@mixin bp1680 {
  @media screen and (min-width: vars.$desktop-lg) {
    @content;
  }
}

@mixin bp2000 {
  @media screen and (min-width: vars.$desktop-xl) {
    @content;
  }
}

// Fonts style
@mixin font-style($fontSize, $lh, $weight) {
  font-size: $fontSize;
  font-weight: $weight;
  line-height: $lh;
}

// Centring
@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Visually hidden text
@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
