// breakpoint
$mobile-sm: 480px;
$mobile: 576px;
$tablet: 768px;
$tablet-lg: 1024px;
$laptop-sm: 1280px;
$laptop: 1366px;
$desktop: 1440px;
$desktop-lg: 1680px;
$desktop-xl: 2000px;

// colors
$color-white: #ffffff;
$color-black: #000000;
$color-text: #3c4043;

// https://coolors.co/003049-d62828-f77f00-fcbf49-eae2b7
$prussian-blue: #003049;
$maximum-red: #d62828;
$orange: #f77f00;
$maximum-yellow-red: #fcbf49;
$lemon-meringue: #eae2b7;

// fonts
$font-family: serif;
// e. g. $font-family: 'Roboto', sans-serif;

// eight pixel idealogy
$size: 8px;

// other
$transition: 300ms;

// z-index
$z-dropdown: 1000;
$z-sticky: 1100;
$z-fixed: 1200;
$z-modal-backdrop: 1300;
$z-modal: 1400;
$z-popover: 1500;
$z-tooltip: 1600;
