// base rules
@use './base_rules/normalize';
@use './base_rules/base';
@use './base_rules/special-classes';

// state rules
@use './state_rules/display';

// theme rules
@use './theme_rules/fonts';
@use './theme_rules/typography';

// layout rules
@use './layout_rules/body';
@use './layout_rules/header';
@use './layout_rules/navigation';
@use './layout_rules/aside';
@use './layout_rules/content';
@use './layout_rules/footer';

// modules/components rules
@use './module_rules/news-home';
